/*general css*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    background-color: #ebf0f2;
    position: relative;
}
.royal-blue
{
	color: royalblue;

}
/*main heading*/
    .main-heading{
    	position: absolute;
    	top: 20px;
    	left: 40%;
    	padding: 10px 30px;
    	border-radius: 50px;
background: linear-gradient(225deg, #dcddde, #ffffff);
box-shadow:  -20px 20px 60px #cfd1d2, 
             20px -20px 60px #ffffff;
    }

/*centring main body*/
.settings {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*main button styling*/
.btn-main {
    position: absolute;
    padding: 25px 35px;
    border: 0;
    font-family: 'Montserrat';
    /* font-weight: 400;*/
    font-size: 1.1em;
    border-radius: 20px;
    background: #ebf0f2;
    box-shadow: 20px 20px 60px #c8ccce,
        -20px -20px 60px #ffffff;
    left: 45%;
    top: 85%;
}

/*setting styling*/
.container {
    height: 400px;
    width: 500px;
    position: absolute;
    left: 35%;
    top: 18%;
    border-radius: 50px;
    background: #ebf0f2;
    box-shadow: inset 20px 20px 60px #c8ccce,
        inset -20px -20px 60px #ffffff;

}

/*input checkbox spacing*/
input[type=checkbox] {
    position: absolute;
    left: 80%;
}

/*result container styling*/
.result-container {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 18px;
    border-radius: 10px;
    letter-spacing: 1px;
    padding: 15px 10px;
    height: 40px;
    margin-top: 5%;
    left: 7%;
    width: 80%;
}

/*final result text break*/
.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

/*clipboard butto styling*/
#clipboard {
    border-radius: 50px;
    background: #f4f6f7;
    box-shadow: -20px -20px 60px #cfd1d2,
        20px 20px 60px #ffffff;
    height: 40px;
    width: 50px;
    border: 0;
}